.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #EDEDED;
  border-radius: 15px;
  background-color: #EDEDED;
}

.box-control {
  height: 500px;
  margin: 1.5% 1.5%;
  padding: 2.5%;
  display: block;
  float: left;
}


.image-control {
  height: 300px;
  width: 280px;
  margin-top: 4%;
  border-radius: 15px;
}

.clear {
  clear: both;
}

.header-control {

}

.text-center{
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif; 
  color: #30093D
}

.small-text {
  font-size: 16px; 
}

body {
  background: url('aboutbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

