<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-header text-center header-control">
  <h1>Stephen Akuffo <small>Datacenter Solution Specialist & Developer in training</small></h1>
</div>

<%= yield %>

</body>
</html>
